@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  background: #151521;
}

/* Custom bg and colors  */
.bg-custom-secondary {
  background-color: #1e1e2d;
}
.bg-custom-main {
  background: #151521;
}
.custom-text-light {
  color: #474761;
}
.custom-blue-bg {
  background-color: #3699ff;
}
.border-dashed-bottom {
  border-bottom: 1px dashed #323248;
}
.password-stength {
}
.password-stength span {
  height: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
